<section class="aboutus-section">
    <div class="container-fluid">
        <div class="row">
            <!-- Video Section -->
            <div class="col-lg-6 p-0">
                <div class="about-video set-bg" data-setbg="@Url.Content("~/img/about-us.jpg")">
                    <a href="https://www.youtube.com/watch?v=EzKkl64rRbM" class="play-btn video-popup">
                        <i class="fa fa-caret-right"></i>
                    </a>
                </div>
            </div>

            <!-- About Us Text Section -->
            <div class="col-lg-6 p-0">
                <div class="about-text">
                    <div class="section-title">
                        <span>About Us</span>
                        <h2>What we have done</h2>
                    </div>
                    <div class="at-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                            viverra maecenas accumsan lacus vel facilisis. aliquip ex ea commodo consequat sit amet,
                            consectetur adipiscing elit, sed do eiusmod tempor.
                        </p>
                    </div>
                    <div class="about-bar">
                        <div class="ab-item">
                            <p>Body building</p>
                            <div id="bar1" class="barfiller">
                                <span class="fill" data-percentage="80"></span>
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                            </div>
                        </div>
                        <div class="ab-item">
                            <p>Training</p>
                            <div id="bar2" class="barfiller">
                                <span class="fill" data-percentage="85"></span>
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                            </div>
                        </div>
                        <div class="ab-item">
                            <p>Fitness</p>
                            <div id="bar3" class="barfiller">
                                <span class="fill" data-percentage="75"></span>
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
