<section class="footer-section">
    <div class="container">
        <div class="row">
            <!-- About Section -->
            <div class="col-lg-4">
                <div class="fs-about">
                    <div class="fa-logo text-center mb-4">
                        <a href="#"><img src="@Url.Content("~/images/pulsefitlogo.png")" alt="PulseFit Logo" style="height:100px;"></a>
                    </div>
                    <p class="text-center">
                        PulseFit: Transforming fitness with modern tools. Join our innovative gym and wellness ecosystem.
                    </p>
                    <div class="fa-social text-center mt-4">
                        <a href="#" class="me-3"><i class="fab fa-facebook-f text-white"></i></a>
                        <a href="#" class="me-3"><i class="fab fa-twitter text-white"></i></a>
                        <a href="#" class="me-3"><i class="fab fa-youtube text-white"></i></a>
                        <a href="#" class="me-3"><i class="fab fa-instagram text-white"></i></a>
                        <a href="#"><i class="fas fa-envelope text-white"></i></a>
                    </div>
                </div>
            </div>

            <!-- Useful Links -->
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="fs-widget">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="AboutUs">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Services">Services</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Bmi">BMI</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                </div>
            </div>

            <!-- Support -->
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="fs-widget">
                    <h4>Support</h4>
                    <ul>
                        <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="ChangeUser">Profile</a></li>
                        <li><a asp-area="" asp-controller="Subscription" asp-action="Index">Subscriptions</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                </div>
            </div>

            <!-- Tips & Guides -->
            <div class="col-lg-4 col-md-6">
                <div class="fs-widget">
                    <h4>Tips & Guides</h4>
                    <div class="fw-recent">
                        <h6><a href="#">How to set realistic fitness goals and achieve them</a></h6>
                        <ul>
                            <li>3 min read</li>
                            <li>20 Comment</li>
                        </ul>
                    </div>
                    <div class="fw-recent">
                        <h6><a href="#">The best exercises for toning your body</a></h6>
                        <ul>
                            <li>3 min read</li>
                            <li>20 Comment</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="row mt-4">
            <div class="col-lg-12 text-center">
                <div class="copyright-text">
                    <p>
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> PulseFit. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
