<section class="services-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Our Services</span>
                    <h2>PUSH YOUR LIMITS FORWARD</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Personal Training -->
            <div class="col-lg-3 order-lg-1 col-md-6 p-0">
                <div class="ss-pic">
                    <img src="@Url.Content("~/img/services/services-1.jpg")" alt="Personal Training">
                </div>
            </div>
            <div class="col-lg-3 order-lg-2 col-md-6 p-0">
                <div class="ss-text">
                    <h4>Personal Training</h4>
                    <p>
                        Receive customized one-on-one coaching to achieve your unique fitness goals effectively.
                    </p>
                    <a href="/services/personal-training" class="service-link">Learn More</a>
                </div>
            </div>
            <!-- Group Fitness Classes -->
            <div class="col-lg-3 order-lg-3 col-md-6 p-0">
                <div class="ss-pic">
                    <img src="@Url.Content("~/img/services/services-2.jpg")" alt="Group Fitness Classes">
                </div>
            </div>
            <div class="col-lg-3 order-lg-4 col-md-6 p-0">
                <div class="ss-text">
                    <h4>Group Fitness Classes</h4>
                    <p>
                        Join high-energy classes designed to keep you motivated while working out in a supportive group setting.
                    </p>
                    <a href="/services/group-fitness" class="service-link">Learn More</a>
                </div>
            </div>
            <!-- Strength Training -->
            <div class="col-lg-3 order-lg-5 col-md-6 p-0">
                <div class="ss-text second-row">
                    <h4>Strength Training</h4>
                    <p>
                        Build your strength with targeted exercises and expert guidance for maximum results.
                    </p>
                    <a href="/services/strength-training" class="service-link">Learn More</a>
                </div>
            </div>
            <div class="col-lg-3 order-lg-6 col-md-6 p-0">
                <div class="ss-pic">
                    <img src="@Url.Content("~/img/services/services-3.jpg")" alt="Strength Training">
                </div>
            </div>
            <!-- Body Building -->
            <div class="col-lg-3 order-lg-7 col-md-6 p-0">
                <div class="ss-text second-row">
                    <h4>Body Building</h4>
                    <p>
                        Achieve the physique of your dreams with dedicated plans focused on muscle building.
                    </p>
                    <a href="/services/body-building" class="service-link">Learn More</a>
                </div>
            </div>
            <div class="col-lg-3 order-lg-8 col-md-6 p-0">
                <div class="ss-pic">
                    <img src="@Url.Content("~/img/services/services-4.jpg")" alt="Body Building">
                </div>
            </div>
        </div>
    </div>
</section>