<section class="testimonial-section spad">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="section-title">
                    <span>Testimonials</span>
                    <h2>What Clients Say</h2>
                </div>
            </div>
        </div>

        <div class="ts-slider owl-carousel">
            <!-- Testimonial 1 -->
            <div class="ts-item">
                <div class="text-center">
                    <div class="ti-pic">
                        <img src="@Url.Content("~/img/testimonial/testimonial-1.jpg")" alt="Jessica Smith">
                    </div>
                    <div class="ti-text">
                        <p>“The trainers are incredibly supportive and the classes are fun!”</p>
                        <h5>Jessica Smith</h5>
                        <div class="tt-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonial 2 -->
            <div class="ts-item">
                <div class="text-center">
                    <div class="ti-pic">
                        <img src="@Url.Content("~/img/testimonial/testimonial-2.jpg")" alt="Michael Thompson">
                    </div>
                    <div class="ti-text">
                        <p>“Group fitness classes here are simply amazing!”</p>
                        <h5>Michael Thompson</h5>
                        <div class="tt-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonial 3 -->
            <div class="ts-item">
                <div class="text-center">
                    <div class="ti-pic">
                        <img src="@Url.Content("~/img/testimonial/testimonial-3.jpg")" alt="Emily Taylor">
                    </div>
                    <div class="ti-text">
                        <p>“The personal training sessions helped me build strength.”</p>
                        <h5>Emily Taylor</h5>
                        <div class="tt-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
