@model PulseFit.Management.Web.Models.WorkoutViewModel

@{
    ViewData["Title"] = "Create Workout";
}

<h2>Create Workout</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}


<hr />
<form id="createWorkoutForm" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="row mb-2">
        <div class="col-md-6">
            <label asp-for="Name" class="form-label">Name <span class="text-danger">*</span></label>
            <input asp-for="Name" class="form-control" required/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Description" class="form-label">Description <span class="text-danger">*</span></label>
            <input asp-for="Description" class="form-control" required/>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <label asp-for="StartDate" class="form-label">Start <span class="text-danger">*</span></label>
            <input asp-for="StartDate" class="form-control" required/>
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Status" class="form-label"></label>
            <select asp-for="Status" class="form-control" asp-items="ViewBag.Status"></select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <label asp-for="Duration" class="form-label">Duration <span class="text-danger">*</span></label>
            <input asp-for="Duration" class="form-control" required />
            <span asp-validation-for="Duration" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="DifficultyLevel" class="control-label">Difficulty <span class="text-danger">*</span></label>
            <select asp-for="DifficultyLevel" class="form-control" asp-items="ViewBag.Difficulty"></select>
            <span asp-validation-for="DifficultyLevel" class="text-danger"></span>
        </div>
    </div>
    
    <div class="row mb-2">
        <div class="col-md-6">
            <label asp-for="InstructorId" class="form-label">Instructors</label>
            <select asp-for="InstructorId" class="form-control" asp-items="ViewBag.Instructors">
                <option value="">Select Instructor ...</option>
            </select>
            <span asp-validation-for="InstructorId" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="MaxCapacity" class="form-label">Maximum Capacity <span class="text-danger">*</span></label>
            <input asp-for="MaxCapacity" class="form-control" />
            <span asp-validation-for="MaxCapacity" class="text-danger"></span>
        </div>
    </div>
    
    <div class="row mb-2">
        <div class="col-md-6">
            <label asp-for="GymId" class="control-label">Gyms</label>
            <select asp-for="GymId" class="form-control" asp-items="ViewBag.GymId">
                <option value="">Select Gym ...</option>
            </select>
            <span asp-validation-for="GymId" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Type" class="form-label">Workout Type <span class="text-danger">*</span></label>
            <select asp-for="Type" class="form-select" asp-items="ViewBag.Type" id="TypeSelect">
                <option value="">Select a Type ...</option>
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <label asp-for="WorkoutImageFile" class="form-label">Workout Picture</label>
            <input asp-for="WorkoutImageFile" type="file" class="form-control" id="workoutPictureUpload" />
            <small class="form-text text-muted">Maximum file size: 2 MB</small> <!-- Indicação do tamanho máximo -->
            <span asp-validation-for="WorkoutImageFile" class="text-danger"></span>
        </div>
        <div class="col-md-6" id="GroupTypeGroup" style="display:none;">
            <label asp-for="GroupType" class="control-label"></label>
            <select asp-for="GroupType" class="form-control" asp-items="ViewBag.GroupType">
                <option value="">Select Group Type ...</option>
            </select>
            <span asp-validation-for="GroupType" class="text-danger"></span>
        </div>

        <div class="col-md-6" id="IndividualTypeGroup" style="display:none;">
            <label asp-for="IndividualType" class="control-label"></label>
            <select asp-for="IndividualType" class="form-control" asp-items="ViewBag.IndividualType">
                <option value="">Select Individual Type ...</option>
            </select>
            <span asp-validation-for="IndividualType" class="text-danger"></span>
        </div>
    </div>
    
    <div class="mt-3 d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Create Workout</button>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/formHelpers.js"></script>

    <script>
        setupImageUploadPreview("workoutPictureUpload", "imagePreview");
        setupSweetAlertOnSubmit("createWorkoutForm", "Workout created successfully.", "Please correct the errors in the form.");
    </script>



    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var typeSelect = document.getElementById("TypeSelect");
            var individualTypeGroup = document.getElementById("IndividualTypeGroup");
            var groupTypeGroup = document.getElementById("GroupTypeGroup");

            function toggleTypeOptions() {
                var selectedValue = typeSelect.value;

                if (selectedValue === "Group") {
                    groupTypeGroup.style.display = "block";
                    individualTypeGroup.style.display = "none";
                } else if (selectedValue === "Individual") {
                    groupTypeGroup.style.display = "none";
                    individualTypeGroup.style.display = "block";
                } else {
                    groupTypeGroup.style.display = "none";
                    individualTypeGroup.style.display = "none";
                }
            }

            typeSelect.addEventListener("change", toggleTypeOptions);
            toggleTypeOptions(); 
        });
    </script>
}