@model IEnumerable<PulseFit.Management.Web.Data.Entities.Booking>

<h2>My Bookings</h2>
<table>
    <tr>
        <th>Traning Date</th>
        <th>Status</th>
        <th>Options</th>
    </tr>
    @foreach (var booking in Model)
    {
        <tr>
            <td>@booking.TrainingDate.ToString("dd/MM/yyyy HH:mm")</td>
            <td>@booking.Status</td>
            <td>
                @if (booking.Status == PulseFit.Management.Web.Data.Entities.Booking.BookingStatus.Reserved && (booking.TrainingDate - DateTime.Now).TotalHours >= 24)
                {
                    <form asp-action="CancelBooking" asp-route-bookingId="@booking.Id" method="post">
                        <button type="submit">Cancell</button>
                    </form>
                }
            </td>
        </tr>
    }
</table>
