@model RatingViewModel
@{
    ViewData["Title"] = "Evaluate your Training";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="form-group">
        <label for="RatingValue">Classification (1 to 5 stars):</label>
        <input type="number" name="RatingValue" class="form-control" min="1" max="5" required />
    </div>

    <div class="form-group">
        <label for="Comment">What can we improve? (opcional):</label>
        <textarea name="Comment" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Send Review</button>
</form>
