@{
    ViewData["Title"] = "Processing Payment";
}

<div class="container my-5 payment-loader-container">
    <h2 class="title-neon">Processing Your Payment...</h2>
    <div class="loader my-4"></div>
    <p class="text-gray">Please wait while we confirm your payment details. This may take a few seconds.</p>
</div>
