@model IEnumerable<PulseFit.Management.Web.Data.Entities.Gym>
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Gyms List";

    var formattedGyms = Model.Select(gym => new
    {
        gym.Id,
        gym.Name,
        gym.Location,
        GymImageUrl = gym.GymImageUrl,
        OpeningTime = gym.OpeningTime.ToString(@"hh\:mm"),
        ClosingTime = gym.ClosingTime.ToString(@"hh\:mm"),
        gym.Status,
        StatusText = gym.Status == 0 ? "Active" : "Inactive"
    });

    var jsonSerializerSettings = new JsonSerializerSettings
            {
                ReferenceLoopHandling = ReferenceLoopHandling.Ignore,
                Formatting = Formatting.Indented
            };

    var serializedData = JsonConvert.SerializeObject(formattedGyms, jsonSerializerSettings);
}

<div>
    <a asp-action="Create" class="btn btn-primary mb-3">Create New Gym</a>
</div>

@if (!Model.Any())
{
    <div class="alert alert-info">No gyms found.</div>
}
else
{
    <div id="Grid"></div>
}

@section Scripts {
    <script id="profilePictureTemplate" type="text/x-template">
        <img src="${GymImageUrl}" alt="Gym Picture" style="width: 50px; height: 50px; border-radius: 50%;" />
    </script>

    <script id="actionTemplate" type="text/x-template">
        <a href="/Gyms/Edit/${Id}" class="btn btn-warning me-2">Edit</a>
        <a href="/Gyms/Delete/${Id}" class="btn btn-danger me-2">Delete</a>
        <a href="/Gyms/Details/${Id}" class="btn btn-primary">Details</a>
    </script>

    <script>
        $(document).ready(function () {
            var serializedData = @Html.Raw(serializedData);

            var grid = new ej.grids.Grid({
                dataSource: serializedData,
                allowPaging: true,
                allowSorting: true,
                allowFiltering: true,
                pageSettings: { pageSize: 10 },
                toolbar: ['Search'],
                columns: [
                    { field: "GymImageUrl", headerText: "Gym", width: 100, template: "#profilePictureTemplate" },
                    { field: "Name", headerText: "Name", width: 120 },
                    { field: "Location", headerText: "Location", width: 120 },
                    { field: "OpeningTime", headerText: "Opening Time", width: 100 },
                    { field: "ClosingTime", headerText: "Closing Time", width: 100 },
                    { field: "StatusText", headerText: "Status", width: 100 },
                    { headerText: "Actions", width: 180, template: "#actionTemplate" }
                ]
            });
            grid.appendTo("#Grid");
        });
    </script>
}
