@model PulseFit.Management.Web.Data.Entities.OnlineClass

@{
    Layout = "_Dashboard";
    ViewBag.PageTitle = "Online Class";
    ViewBag.SubPageTitle = "Create";
}

<h2 class="title-neon">Create Online Class</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-neon">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<hr />
<form id="createOnlineClassForm" asp-action="Create" method="post" class="p-4 card-neon">
    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="VideoUrl" class="text-neon-pink">Video URL <span class="text-danger">*</span></label>
            <input asp-for="VideoUrl" class="form-control input-neon" required />
            <span asp-validation-for="VideoUrl" class="text-warning"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Category" class="text-neon-pink">Category <span class="text-danger">*</span></label>
            <select asp-for="Category" class="form-select input-neon" required>
                <option value="">Select Category...</option>
                @foreach (var category in Enum.GetValues(typeof(PulseFit.Management.Web.Data.Entities.OnlineClass.ClassCategory)))
                {
                    <option value="@category">@category</option>
                }
            </select>
            <span asp-validation-for="Category" class="text-warning"></span>
        </div>
    </div>

    <div class="mt-3 d-flex justify-content-between">
        <button type="submit" class="btn btn-neon-pink neon-hover-shadow">Add Class</button>
        <a asp-action="ManageOnlineClasses" class="btn btn-neon-secondary neon-hover-shadow">Back to List</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/formHelpers.js"></script>

    <script>
        setupSweetAlertOnSubmit("createOnlineClassForm", "Class added successfully.", "Please correct the errors in the form.");
    </script>
}
