html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.05rem white, 0 0 0 0.15rem #258cfb; 
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Error Styles - Forbidden Page and 404 Not Found*/


/* Forbidden Page
-------------------------------------------------- */
.whistle {
    width: 20%;
    fill: #f95959;
    margin: 100px 40%;
    text-align: left;
    transform: translate(-50%, -50%);
    transform: rotate(0);
    transform-origin: 80% 30%;
    animation: wiggle .2s infinite;
}

@keyframes wiggle {
    0% {
        transform: rotate(3deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(3deg);
    }
}

.h1-forbidden {
    margin-top: -100px;
    margin-bottom: 20px;
    color: #facf5a;
    text-align: center;
    font-family: 'Raleway';
    font-size: 90px;
    font-weight: 800;
}

.h2-forbidden {
    color: #455d7a;
    text-align: center;
    font-family: 'Raleway';
    font-size: 30px;
    text-transform: uppercase;
}

/* Page Not Found
-------------------------------------------------- */
/*Page not Found - 404*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');

.error-container {
    text-align: center;
    font-size: 180px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 800;
    margin: 20px 15px;
}

    .error-container > span {
        display: inline-block;
        line-height: 0.7;
        position: relative;
        color: #FFB485;
    }

    .error-container > span {
        display: inline-block;
        position: relative;
        vertical-align: middle;
    }

        .error-container > span:nth-of-type(1) {
            color: #D1F2A5;
            animation: colordancing 4s infinite;
        }

        .error-container > span:nth-of-type(3) {
            color: #F56991;
            animation: colordancing2 4s infinite;
        }

        .error-container > span:nth-of-type(2) {
            width: 120px;
            height: 120px;
            border-radius: 999px;
        }

            .error-container > span:nth-of-type(2):before,
            .error-container > span:nth-of-type(2):after {
                border-radius: 0%;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: inherit;
                height: inherit;
                border-radius: 999px;
                box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4), inset 0 30px 0 rgba(239, 250, 180, 0.4), inset -30px 0 0 rgba(255, 196, 140, 0.4), inset 0 -30px 0 rgba(245, 105, 145, 0.4);
                animation: shadowsdancing 4s infinite;
            }

            .error-container > span:nth-of-type(2):before {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                transform: rotate(45deg);
            }

.screen-reader-text {
    position: absolute;
    top: -9999em;
    left: -9999em;
}

@keyframes shadowsdancing {
    0% {
        box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4), inset 0 30px 0 rgba(239, 250, 180, 0.4), inset -30px 0 0 rgba(255, 196, 140, 0.4), inset 0 -30px 0 rgba(245, 105, 145, 0.4);
    }

    25% {
        box-shadow: inset 30px 0 0 rgba(245, 105, 145, 0.4), inset 0 30px 0 rgba(209, 242, 165, 0.4), inset -30px 0 0 rgba(239, 250, 180, 0.4), inset 0 -30px 0 rgba(255, 196, 140, 0.4);
    }

    50% {
        box-shadow: inset 30px 0 0 rgba(255, 196, 140, 0.4), inset 0 30px 0 rgba(245, 105, 145, 0.4), inset -30px 0 0 rgba(209, 242, 165, 0.4), inset 0 -30px 0 rgba(239, 250, 180, 0.4);
    }

    75% {
        box-shadow: inset 30px 0 0 rgba(239, 250, 180, 0.4), inset 0 30px 0 rgba(255, 196, 140, 0.4), inset -30px 0 0 rgba(245, 105, 145, 0.4), inset 0 -30px 0 rgba(209, 242, 165, 0.4);
    }

    100% {
        box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4), inset 0 30px 0 rgba(239, 250, 180, 0.4), inset -30px 0 0 rgba(255, 196, 140, 0.4), inset 0 -30px 0 rgba(245, 105, 145, 0.4);
    }
}

@keyframes colordancing {
    0% {
        color: #D1F2A5;
    }

    25% {
        color: #F56991;
    }

    50% {
        color: #FFC48C;
    }

    75% {
        color: #EFFAB4;
    }

    100% {
        color: #D1F2A5;
    }
}

@keyframes colordancing2 {
    0% {
        color: #FFC48C;
    }

    25% {
        color: #EFFAB4;
    }

    50% {
        color: #D1F2A5;
    }

    75% {
        color: #F56991;
    }

    100% {
        color: #FFC48C;
    }
}

.erro_h1 {
    text-align: center;
    margin: 30px 15px;
}

.zoom-area {
    max-width: 490px;
    margin: 30px auto 30px;
    font-size: 19px;
    text-align: center;
}

.link-container {
    text-align: center;
}

a.more-link {
    text-transform: uppercase;
    font-size: 13px;
    background-color: #92a4ad;
    padding: 10px 15px;
    border-radius: 0;
    color: #416475;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 1.5;
    text-decoration: none;
    margin-top: 50px;
    letter-spacing: 1px;
}

/* Estilos para o loader de pagamento */
.payment-loader-container {
    text-align: center;
    margin-top: 30px;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Custom Styles (CSS) */

/* Neon Theme Variables */
:root {
    --neon-pink: #E93571;
    --neon-blue: #8DFAFF;
    --neon-green: #AAFF1F;
    --neon-purple: #E200FE;
    --neon-yellow: #EDE313;
    --dark-bg: #1c1c1c;
    --light-bg: #2b2b2b; /* Background color for cards */
    --light-text: #ECECEC;
    --border-color: #333;
    /* Button Text Colors */
    --btn-text-pink: #FFFFFF;
    --btn-text-blue: #000000; /* Ajuste para legibilidade */
    --btn-text-green: #000000; /* Ajuste para legibilidade */
    --btn-text-purple: #FFFFFF;
}

/* Base Styles */
html {
    font-size: 1px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background-color: var(--dark-bg); /* Dark gray background */
    color: var(--light-text);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-bottom: 60px;
}

/* Typography */
.text-gray {
    color: var(--light-text);
}

h1, h2, h3, .title-neon {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: var(--neon-blue);
    text-align: center;
}

h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: var(--neon-pink);
}


/* Button Styles */
.btn-neon-pink {
    background-color: var(--neon-pink);
    color: var(--btn-text-pink);
    border: 1px solid var(--neon-pink);
    border-radius: 6px;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.btn-neon-blue {
    background-color: var(--neon-blue);
    color: var(--btn-text-blue); /* Usa a variável para cor do texto */
    border: 1px solid var(--neon-blue);
    border-radius: 6px;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.btn-neon-green {
    background-color: var(--neon-green);
    color: var(--btn-text-green); /* Usa a variável para cor do texto */
    border: 1px solid var(--neon-green);
    border-radius: 6px;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.btn-neon-secondary {
    background-color: var(--neon-purple);
    color: var(--btn-text-purple);
    border: 1px solid var(--neon-purple);
    border-radius: 6px;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

/* Button Hover Effects */
.btn-neon-pink:hover {
    background-color: var(--dark-bg);
    color: var(--neon-pink);
    box-shadow: 0px 0px 10px rgba(233, 53, 113, 0.5);
}

.btn-neon-blue:hover {
    background-color: var(--dark-bg);
    color: var(--neon-blue);
    box-shadow: 0px 0px 10px rgba(141, 250, 255, 0.5);
}

.btn-neon-green:hover {
    background-color: var(--dark-bg);
    color: var(--neon-green);
    box-shadow: 0px 0px 10px rgba(170, 255, 31, 0.5);
}

.btn-neon-secondary:hover {
    background-color: var(--dark-bg);
    color: var(--neon-purple);
    box-shadow: 0px 0px 10px rgba(226, 0, 254, 0.5);
}


/* Input Fields and Form Borders */
.input-neon {
    background-color: #333; /* More subdued dark background for focus */
    border: 1px solid var(--border-color);
    color: var(--light-text);
    padding: 10px;
    border-radius: 4px;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

    .input-neon:focus {
        outline: none;
        background-color: #444; /* Slightly brighter for focus */
        border-color: var(--neon-blue);
        color: var(--light-text); /* Ensures text contrast on focus */
        box-shadow: 0px 0px 5px rgba(141, 250, 255, 0.1);
    }

/* Link Hover Effect */
a.neon-hover {
    color: var(--neon-pink);
    text-decoration: none;
    transition: color 0.3s ease;
}

    a.neon-hover:hover {
        color: var(--neon-blue);
        text-decoration: underline;
    }

/* Alert Styles */
.alert-neon {
    background-color: var(--neon-purple);
    color: #FFFFFF;
    border: 1px solid var(--neon-purple);
    border-radius: 4px;
    padding: 15px;
    font-weight: bold;
}

/* Title Styles */
.title-neon {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--neon-blue);
}

/* Card Styles */
.card-neon {
    background-color: var(--light-bg); /* Differentiated background for cards */
    color: var(--light-text);
    border: 1px solid var(--neon-pink);
    padding: 20px;
    border-radius: 10px;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

    .card-neon:hover {
        border-color: var(--neon-blue);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    }

/* Base font settings */
body {
    background-color: #1c1c1c;
    color: #0a0000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

/* Font styling for headers */
h1, h2, h3, .title-neon {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #8DFAFF;
}

h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #E93571;
}

/* Font styling for buttons and inputs */
.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.input-neon, .btn-neon {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* Payment Confirmation */
@keyframes pulse {
    0% {
        transform: scale(1);
        color: var(--neon-green);
    }

    50% {
        transform: scale(1.2);
        color: var(--neon-blue);
    }

    100% {
        transform: scale(1);
        color: var(--neon-green);
    }
}